<!DOCTYPE html>
<html>

<head>
    <title>Docker Compose Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Docker Compose Generator</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="json_files">Select JSON Files:</label>
        <input type="file" id="json_files" name="json_files" multiple accept=".json"><br><br>

        <label for="output_dir">Output Directory:</label>
        <input type="text" id="output_dir" name="output_dir" value="./"><br><br>

        <label for="output_filename">Output Filename:</label>
        <input type="text" id="output_filename" name="output_filename" value="docker-compose.yml"><br><br>

        <input type="submit" value="Generate Docker Compose">
    </form>
</body>

</html>